.bg-primary {
    background: #1C6E8C !important;
}
.text-primary {
    color: white !important;
}

.navbar-nav {
    --bs-nav-link-color: whitesmoke;
}

#copyright {
    display: inline-block;
}


.github1 {
    width: 2%;
    
}
