/* Navbar Stylings */

.navbar-nav {
    --bs-nav-link-color: whitesmoke;
}

/* Searchbar Stylings */
.searchbar {
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
}
#searchButton {
    margin-top: 1em;
}

/* General Stylings */

.bg-primary {
    background: #1C6E8C !important;
}
.text-primary {
    color: white !important;
}
