/* Navbar Stylings */

.navbar-nav {
    --bs-nav-link-color: white;
}

/* Login Stylings */
.login {
    margin: 20px;
}

/* Searchbar Stylings */
.searchbar {
    margin: auto;
    margin-top: 1em;
    width: 90%;
}

#search-button {
    margin-top: 1em;
}

#searchbar {
    position: relative;
    top: 25px;
    height: 0px;
}

/* Map Stylings */
#map {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

/* Circle Car Button Stylings */
#circle-btn {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: #5216d1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 88%;
    left: 77%;
}

#circle-btn img {
    width: 40px;
    filter: invert();
}

/* Confirm Button Stylings */
#confirm-route {
    position: fixed;
    top: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#confirm-btn {
    width: 90px;
    margin: 10px;
}

#cancel-btn {
    width: 90px;
    margin: 10px;
}

#drive-btn {
    width: 90px;
    margin: 10px;
}

#back-btn {
    width: 90px;
    margin: 10px;
}

.confirm-modal {
    width: 90px;
    margin: 10px;
}

#cancel-safety-modal {
    width: 90px;
    margin: 10px;
}

/* SafetyRating Stylings */
#needle {
    position: relative;
    top: -175px;
    width: 22vw;
    display: block;
    margin: 0 auto;
}

#speedometer {
    width: 100vw;
    display: block;
    margin: 0 auto;
}

#rating-display {
    text-align: center;
}

/* Speedometer Stylings */
.half-circle {
    border-radius: 100%;
    width: 240px;
    height: 240px;
    position: relative;
    background-color: black;
    left: 50%;
    top: 5em;
    transform: translateX(-50%);
}

.mask-mid {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
}

.ball {
    width: 24px;
    height: 24px;
    background-color: rgb(252, 53, 53);
    border-radius: 100%;
    position: relative;
    left: 108px;
    top: -2px;
    border: 2px solid white;
    transform-origin: 12px 122px;
    rotate: -90deg;
}

.ball-fill {
    border-radius: 100%;
    border-top: 120px solid rgb(252, 53, 53);
    border-left: 120px solid rgb(252, 53, 53);
    border-bottom: 120px solid black;
    border-right: 120px solid black;
    position: absolute;
    rotate: -135deg;
}

.mask-bot {
    width: 240px;
    height: 120px;
    background-color: white;
    position: absolute;
    top: 120px;
}

.right-circle {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    left: 220px;
    top: 110px;
}

.left-circle {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: rgb(252, 53, 53);
    position: absolute;
    right: 220px;
    top: 110px;
}

/* Safety Rating Table Stylings */
#weather-info {
    margin-left: 0.5em;
}

.weather_icon {
    width: 35px;
}

#warning-state-icon {
    width: 100px;
    position: relative;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
}

/* Add New Vehicle Stylings */
#new-vehicle-form {
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
}

.spec-icon {
    width: 50px;
    margin: 10px;
}

#add-new-vehicle-btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #5216d1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 88%;
    left: 77%;
}

#add-vehicle {
    width: 75px;
}

#add-new-vehicle-btn img {
    width: 25px;
    filter: invert();
}

#change-vehicle-dropdown {
    margin: 20px;
}

#my-container ul {
    padding: 0;
    margin: 0;
}

#my-container option {
    padding: 0;
    margin: 0;
}

#vehicle-info-card {
    width: 90%;
    margin: 0 auto;
}

.change-current-vehicle {
    margin-right: 5px;
    margin-left: 5px;
}

#car-name {
    margin: 10px;
    margin-top: 20px;
    text-align: center;
}

#vehicle-icon {
    width: 175px;
    margin: 0 auto;
    display: block;
}

/* General Stylings */
.bg-primary {
    background: #5216d1 !important;
}

.text-primary {
    color: white !important;
}

.btn-primary {
    background-color: #5216d1 !important;
    border-color: #5216d1 !important;
}

.btn-primary:disabled {
    opacity: 0.5 !important;
}

#car-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#plusSign {
    max-width: 75%;
    max-height: 75%;
    filter: invert(1);
}

a {
    color: inherit;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 1px;
    /* padding: 5px 0; */
    /* margin: 2px 0 0; */
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    /* here */
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
}